:root {
    height: var(--app-height);
    width: var(--app-width);
}


#root {


    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;



    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    text-shadow: 1px 1px 1px var(--dark-black);
    --light-color: white;
    background-color: #000000;
    background-color: var(--light-black);













    --dark-black: #000000;
    --light-black: #212121;
    --dark-grey: #303030;
    --light-grey: #424242;
    --extra-light-grey: #636363;
    --chats-overlay-color: rgba(99, 99, 99, 0.5);

    --professional-blue: rgb(0, 100, 255);

    --extra-height-in-android-chrome: 10vh;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --nav-height: 50px;
    --toggle-select-width: 35vw;
    --border-color: #565656;
    --border-size: 0.5px;

    --min-margin: 2px;
    --med-margin: 5px;
    --max-margin: 10px;

    --min-padding: 2px;
    --med-padding: 5px;
    --max-padding: 10px;

    --min-border-radius: 1px;
    --med-border-radius: 2px;
    --large-border-radius: 15px;

    --mini-line-height: 14px;
    --min-line-height: 16px;
    --med-line-height: 18px;
    --max-line-height: 20px;


    --micro-font-size: 6px;
    --mini-font-size: 8px;
    --min-font-size: 10px;
    --med-font-size: 15px;
    --max-font-size: 18px;

    --offset-for-keyboard: 20px
}



@supports (height: 100svh) {
    :root {
        --chat-height-adjust: 5vh;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    border-radius: var(--min-border-radius);

    scrollbar-width: none;
    -ms-overflow-style: none;



}


div {
    cursor: default;

    -webkit-tap-highlight-color: transparent;
}


svg {
    /* text-shadow: 1px 1px 1px var(--dark-black); */
}

svg:active {
  /* Your active styles here */
  transform: scale(0.95);
  stroke: white;
  opacity: 0.8;
  cursor: pointer;
}



fieldset {
    background-color: var(--light-black);
    outline: none;
    border: none;
    border-radius: 10px;
    
}

legend {
    background-color: var(--light-black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-inline: var(--max-padding);
    font-size: 0.75em;
    color: var(--professional-blue);
}


input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    color: var(--light-color);
    padding: var(--max-padding);
    /* margin: var(--max-margin); */
    background-color: var(--light-black);
    outline: none;
    border: none;
    
}

input[type="submit"],
input[type="button"],
.button,
button {
    background-color: var(--professional-blue);
    padding: var(--max-padding);
    /* margin: var(--max-margin); */
    color: var(--light-color);
    /* border: 2px inset var(--border-color); */
    border: none;
    border-radius: var(--med-border-radius);
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus,
.button:focus,
button:focus {
    outline: none;
    box-shadow: none;

}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    outline: none;
}



.loading-spinner {

    width: 10px;
    height: 10px;
    border: 2px solid var(--light-grey);
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
}

.resizable-loading-spinner {

    border-style: solid;
    border-color: var(--light-grey);

    border-top-style: solid;
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}



.app {

    height: 100%;
    width: 100%;


    background-color: var(--light-black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */








}

.app>* {
    border-radius: none;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-grey);

    height: 100%;
    width: 100%;
}

.container-sign-in {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sign-in>* {
    height: 90%;
    width: 90%;
}

.dashboard> :nth-child(1) {
    /* this is navbar */
    height: calc(var(--nav-height));
    background-color: var(--light-grey);

    padding-block: var(--med-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;




}

.dashboard> :nth-child(1)>* {
    /* this is the all elements in header */
    height: 100%;
    /* width: 10%; */
    min-width: 50px;

    padding: var(--min-padding);
    outline: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;


}

.dashboard> :nth-child(1)> :nth-child(1) {
    /* this is back button red */

    background-color: red;
    visibility: hidden;
    width: var(--nav-height);
    aspect-ratio: 1/1;


}

.dashboard> :nth-child(1)> :nth-child(2) {
    /* this si reciver name */
    flex: 1;
    
    font-size: 20px;
    justify-content: start;

}

.selected-username-holder {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-inline: var(--max-padding);
    border-left: calc(5*var(--border-size)) solid var(--extra-light-grey);

}

.selected-username-holder-noborder {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-inline: var(--max-padding);
}

.dashboard> :nth-child(1)> :nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.svg-container-inbox-icon::after {
    content: "";
    width: 7px;
    height: 7px;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    right: 30%;


}




.dashboard> :nth-child(1)> :nth-child(4) {
    /* this is select like tag which stores aside */
    background-color: transparent;
    padding: var(--max-padding);
    position: relative;

    width: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;



}

.dashboard> :nth-child(1)> :nth-child(4)> :nth-child(1) {
    /* this is three dots div */
    display: flex;
    justify-content: center;
    align-items: center;

}

.dashboard> :nth-child(1)> :nth-child(4)> :nth-child(2) {
    /* this is aside tag */
    width: var(--toggle-select-width);
    background-color: var(--dark-grey);
    position: absolute;
    box-shadow: 1px 1px 10px 1px var(--light-black);
    min-height: 80px;
    top: calc(var(--nav-height)/5);
    transition: right 0.4s ease-in, left 0.4s ease-out;

    display: flex;
    flex-direction: column;
    z-index: 1;
    /* right: 105vw; */


}

.dashboard> :nth-child(1)> :nth-child(4)> :nth-child(2)>* {
    /* this are options inside aside */
    background-color: transparent;
    height: var(--nav-height);
    width: 30vw;
    align-self: center;
}

.dashboard> :nth-child(1)> :nth-child(2) .selectedReceiver {
    text-align: start;
    padding: var(--max-padding);
    font-family: cursive;
    text-shadow: 2px 2px 2px black;

}


.dashboard> :nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: column;

    height: calc(100% - var(--nav-height));
    background: linear-gradient(to top, var(--light-black), var(--light-grey));


}

.dashboard-overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    ;
    background-color: transparent;
}



.users-container {
    background-color: var(--light-black);
    height: 100%;

}

.users-container>* {
    /* this is the user field */
    background-color: var(--light-grey);
    height: calc(var(--nav-height) * 1.15);
    border: 1px solid var(--border-color);
    margin: var(--med-margin);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: var(--med-padding);
    column-gap: var(--med-margin);
}

.users-container>*> :nth-child(1) {
    border: var(--border-size) inset white;
    height: calc(var(--nav-height) * 1.15 - var(--med-padding));
    width: calc(var(--nav-height) * 1.15 - var(--med-padding));
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPso8yha9Y63fjz7GWsz2I6DFgIQ59JLl3w&s");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.users-container>*> :nth-child(2)> :nth-child(1) {
    /* this is username field */
    font-size: var(--med-font-size);
}

.users-container>*> :nth-child(2)> :nth-child(2) {
    /* this is users age */
    font-size: var(--mini-font-size);
}




.user-vs-chat-container> :nth-child(1) {
    /*  */
    /* chatcssection */
    height: calc(100% - var(--nav-height) - var(--offset-for-keyboard));
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    padding: var(--max-padding);
    background-color: transparent;
    border-top: calc(2*var(--border-size)) inset var(--border-color);




}

.user-vs-chat-container> :nth-child(2) {
    /* this is bottom tab */

    height: calc(var(--nav-height));
    display: flex;
    align-items: start;
    justify-content: center;
    padding-inline: var(--max-padding);
    column-gap: var(--med-margin);
    position: relative;
    /* bottom: 0; */
    background-color: transparent;





}


.user-vs-chat-container> :nth-child(1)>* {

    /* these are chats fields */
    /* height: max-content; */
    width: 80%;
    position: relative;
    padding-block: var(--med-padding);
    padding-inline: var(--med-padding);
    margin-bottom: var(--max-margin);
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: calc(5*var(--med-border-radius));
    border: 1px solid var(--light-black);


}

.user-vs-chat-container> :nth-child(1)>*> :nth-child(1) {
    /* this is pointing to chats actual content */
    word-break: break-all;
    line-height: var(--min-line-height);
    font-size: var(--med-font-size);
}

.user-vs-chat-container> :nth-child(1)>*> :nth-child(2),
.chatTextStatus {
    /* this is pointing to chats sub details */
    font-size: var(--mini-font-size);
    display: flex;
    justify-content: end;

}




.user-vs-chat-container> :nth-child(2)> :nth-child(1) {
    /* this is msg sender text box container */
    height: 100%;
    flex: 1;
    /* padding-inline: var(--max-padding); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-vs-chat-container> :nth-child(2)> :nth-child(2) {
    /* this is send button container */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--nav-height);
    aspect-ratio: 1/1;


}

.user-vs-chat-container> :nth-child(2)> :nth-child(1)>* {
    /* this is input msg send textbox */
    /* min-width: 180px; */
    width: 100%;
    height: 100%;
    border: var(--border-size) solid var(--border-color);
    border-radius: calc(2*var(--large-border-radius));



}

.user-vs-chat-container> :nth-child(2)> :nth-child(2)>* {
    /* this is input msg send button */

    height: 100%;
    width: 100%;

    /* height: calc(var(--nav-height) - 8*var(--border-size)); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container-sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.container-sign-in>* {
    background-color: var(--light-grey);
    box-shadow: 7px 7px 25px 1px var(--dark-black);
    padding: var(--max-padding);
    height: 100%;
    width: 85%;
    max-width: 500px;
    min-width: 200px;
}



.signin-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
}

.signin-box>* {
    /* this is form well as heading */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: var(--max-margin);
}

.signin-box> :nth-child(1) {
    /* this is the heading only */
    color: white;
    font-weight: 900;
    font-size: 1.2em;
    filter: drop-shadow(0px 0px 5px var(--dark-black));
}

.signin-box> :nth-child(2) {
    /* this is the form */
    justify-content: space-between;
    gap: var(--max-margin);
}

.signin-box> :nth-child(2)> :last-child {
    color: red;
    font-size: var(--min-font-size);
    font-family: monospace;
    background-color: var(--dark-grey);
    padding: var(--max-padding);
    border: 1px solid var(--border-color);
    border-radius: calc(10*var(--med-border-radius));
    transition: opacity 4s ease-out;
    opacity: 1;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.any-label {
    color: red;
    /* font-size: var(--min-font-size); */
    font-family: monospace;
    background-color: var(--dark-grey);
    padding: var(--max-padding);
    border: 1px solid var(--border-color);
    border-radius: calc(10*var(--med-border-radius));
    transition: opacity 4s ease-out;
    opacity: 1;
    outline: none;
}

.fade-out {
    opacity: 0
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.no-display {
    display: none;
}

.display {
    display: block;
}


@media (max-height:450px) and (min-width:450px) {
    .signin-box {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        width: 85%;

    }

    .signin-box> :nth-child(1) {
        flex-direction: row;
        width: 20%;
    }
}

@media (max-height:470px) {
    .signin-box {
        height: max-content;
    }


}